{% extends 'base.html.twig' %}

{% block title %}Player Information!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/pages/team.css">
{% endblock %}

{% block body %}
    <!--Navbar-->
    <div class="navbar">
        <div class="menu-mobile">
            <a href="/">
                <div class="logo">
                    <img src="/images/logo.png" alt="Server logo" class="logo-img">
                    <h3 class="server-name">CreateHive</h3>
                </div>
            </a>

            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="links">
            <a href="/" class="link">Home</a>
            <a href="#" class="link active">Team</a>
            <a href="/contact" class="link">Contact</a>
        </div>
    </div>

    <!--Header-->
    <section id="header">
        <div class="content">
            <div class="info">
                <p class="minecraft-server-ip">mc.example.com</p>
                <h1 class="title">Our <span>team</span></h1>
            </div>
            <p class="description">
                List of all team members sorted by rank.
            </p>
        </div>
    </section>

    <!--Admin-Team-->
    <section id="admin-team">
        <div class="content at-content">
        </div>
    </section>

    <!--Footer-->
    <footer id="footer">
        <p class="copyright">&copy; 2024 <span class="server-name-footer">CreateHive</span>. All rights reserved.</p>
        <div class="social-links">
            <a href="https://discord.gg/Pk3GD6hfs5" class="link discord-link-footer"><i class="fa-brands fa-discord"></i></a>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/cbf5ee59c8.js" crossorigin="anonymous"></script>
{% endblock %}